body {
    margin: 0;
    padding: 0;
    background: #E6F5EB;
    font-size: 12px;
    overflow: hidden;
}
#mainDiv {
    width: 100%;
    height: 100%
}
#loveHeart {
    float: left;
    width: 670px;
    height: 625px
}
#garden {
    width: 100%;
    height: 100%
}
#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    top: 20px;
    color: #629668; 
}
#words {
    font-family: "sans-serif";
    width: 500px;
    font-size: 24px;
    color: #666
}
#messages {
    display: none
}
#messages .greet {
	font-family:NaiYou208695;
	font-size: 30px;
	color: rgb(242, 95, 179);;
}
#elapseClock .digit {
    font-family: "digit";
    font-size: 32px;
}
#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 40px;
    margin-right: 90px;
    text-align: right;
    display: none
}
#loveu .wish {
	font-family:minijianyingbikaishu208697;
	font-size: 25px;
	color: rgb(168, 72, 72);
}
#loveu .signature {
    font-size: 30px;
    font-family:minijiankatong208693;
    position: relative;
    top: 10px; 
    color: rgb(65, 65, 199);
}
#clickSound {
    display: none
}
#code {
    float: left;
    width: 360px;
    height: 400px;
    color: #805858;
    font-family:hdjxingshu208779;
    font-size: 17px;
    text-indent: 2em;
    position: relative;
    left: -10px;
    line-height: 1.3;
	top: -20px;
}
#code p {
	margin-bottom: 5px;
	margin-top: 5px;
}
#copyright {
    text-align: center;
    width: 100%;
    color: #666;
    line-height: 1.5;
    padding-bottom: 10px;
    position: relative;
    top: -50px;
    margin-bottom: -40px;
}
#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0
}
#copyright a {
    color: #666
}